#prezzoAcquisto {
    height: 150px;
    width: 450px;
    background-color: green;
    margin: 200px auto;
    text-align: center;
    /*text-align-last: center;*/
    font-weight: bold;
    font-size: 30px;
    color: red;
}